projects/00/
projects/01/*.tst
projects/01/*.cmp
projects/01/*.out
projects/02/*.tst
projects/02/*.cmp
projects/02/*.out
projects/03/a/*.tst
projects/03/a/*.cmp
projects/03/a/*.out
projects/03/b/*.tst
projects/03/b/*.cmp
projects/03/b/*.out
projects/04/fill/*.tst
projects/04/fill/*.cmp
projects/04/fill/*.out
projects/04/fill/*.hack
projects/04/mult/*.tst
projects/04/mult/*.cmp
projects/04/mult/*.out
projects/04/mult/*.hack
projects/05/*.tst
projects/05/*.cmp
projects/05/*.out
projects/05/*.hack
projects/06/Assembler/__pycache__/
projects/06/add/
projects/06/max/
projects/06/pong/
projects/06/rect/
projects/07/VMtranslator_partial/__pycache__/
projects/07/MemoryAccess/
projects/07/StackArithmetic/
projects/08/VMtranslator/__pycache__/
projects/08/FunctionCalls/
projects/08/ProgramFlow/
projects/09/
projects/10/JackAnalyzer/__pycache__/
projects/10/ArrayTest/
projects/10/ExpressionLessSquare/
projects/10/Square/
projects/11/JackCompiler/__pycache__/
projects/11/Average/
projects/11/ComplexArrays/
projects/11/ConvertToBin/
projects/11/Pong/
projects/11/Seven/
projects/11/Square/
projects/12/*Test/
projects/13/
tools/
projects/demo/